@model IEnumerable<AvatarFormModel>

@{
    ViewBag.Title = "Set Avatar";

}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/Img/Background/pxfuel.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }


        input {
            border-radius: 50%;
        }

        
       
    </style>
</head>

<body>
    <header>
    </header>
    <h1 class="text-center" style="color:aqua">
        @ViewBag.Title
    </h1>
    <form>
        @foreach (var avatar in Model)
        {
            <partial name="_AvatarPartial" model="@avatar" />
        }
    </form>
   
       
    
</body>
</html>


@*model=""*@