@model IEnumerable<AvatarFormModel>

@{
    ViewBag.Title = "Get Avatar";

}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/Img/Background/pxfuel.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }


        input {
            border-radius: 50%;
        }

        .outBox {
            margin: 10px;
            /*border: 1px solid #ccc;*/
            float: left;
            width: 120px;
        }
    </style>
</head>

<body>
    <header>
    </header>
    <h1 class="text-center" style="color:aqua">
        @ViewBag.Title
    </h1>
    @foreach (var avatar in Model)
    {
        <partial name="_AvatarPartial" model="@avatar" />
    }   
</body>
</html>


@*model=""*@