@model AvatarFormModel


@{
    ViewBag.Title = "Get Avatar";

}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/Img/Background/pxfuel.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }


        input {
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <header>
    </header>
    <partial name="_WoWGuildUsersPartial" />
       
</body>
</html>


@*model=""*@