@{
    ViewBag.Title = "Get Avatar";

}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/Img/Background/pxfuel.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }


        input {
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <header>
    </header>
    <form>

        <input type="image" height="120" width=" 120" src="/img/avatarpix/1.jpg" asp-controller="Avatar" asp-action="SelectAvatar" asp-route-id="1.jpg"> 
        
    </form>
       
</body>
</html>
