@model IEnumerable<AvatarFormModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewBag.Title = "Edit Or Delete Avatar";

}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/Img/Background/pxfuel.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }


        img {
            border-radius: 50%;
        }

        .outBox {
            margin: 10px;
            /*border: 1px solid #ccc;*/
            float: left;
            width: 120px;
        }
    </style>
</head>

<body>
    <header>
    </header>
    <h1 class="text-center" style="color:aqua">
        @ViewBag.Title
    </h1>
    @foreach (var avatar in Model)
    {
        <div class="outBox">
            <form>
                <img type="image" height="120" width=" 120" src="@avatar.AvatarPixURL">
                @if (SignInManager.IsSignedIn(User) && User.Identity?.Name == "KirilToshev")
                {
                    <hr />
                    <a class="btn btn-outline-light btn-sm" asp-controller="Avatar" asp-action="Edit" asp-route-id="@avatar.Id">Edite Avatar</a>
                }
            </form>

        </div>
    }
</body>
</html>


@*model=""*@