@model BannerFormModel


<div class="outBox">
    <div class="card col-4" style="width: 12rem; background-color:darkgrey;">
        <img src="@Model.BannerImageURL" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-white">@Model.BannerTitle</h5>
            <p class="card-text" style="color:yellow">@Model.Description</p>
            <a href="@Model.BannerURL" class="btn btn-primary" target="_blank">WoW Page</a>
        </div>
    </div>
</div>

