@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/Img/Background/Gamer.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
       
    </style>
</head>


<body>
    <header> 
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="navbar-nav">
                @if (User.Identity?.Name == "KirilToshev")
                {
                    <div class="navbar-nav">
                        <div class="btn-group" role="group" aria-label="Dropdown">
                            <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Welcome Admin
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="/Game/ShowGames">Games</a></li>
                                <li><a class="dropdown-item" href="/Game/Create">Add Games</a></li>
                                <li><a class="dropdown-item" href="/Banner/Create">Add Banner</a></li>
                                <li><a class="dropdown-item" href="/Avatar/EditOrDelete">See Avatars</a></li>
                                <li><a class="dropdown-item" href="/Avatar/Create">Add Avatar</a></li>
                            </ul>
                        </div>
                    </div>
                }             
                <div class="btn-group" role="group" aria-label="Dropdown">
                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Welcome @User.Identity?.Name
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/GuildUser/Create">Guild Info</a></li>
                        <li><a class="dropdown-item" href="/GuildUser/MyContacts">My Contact's</a></li>
                        <li><a class="dropdown-item" href="/Avatar/Avatars">Select Avatar</a></li>
                    </ul>
                </div>
                <div class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                </div>
            </div>              
        }
        else
        {
            <div class="navbar-nav">
                <div class="nav-item">
                    <a type="button" class="btn btn-success" asp-area="Identity" asp-page="/Account/Register">Guild Recruit Register</a>
                </div>
                <div class="nav-item">
                    <a type="button" class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </div>
            </div>
        }
    </header>

</body>
</html>
