@model IEnumerable<GameViewModel>

@{
    ViewBag.Title = "Games";
}


<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/Img/Background/BG18.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        .outBox {
            margin: 30px;
            /*border: 1px solid #ccc;*/
            float: left;
            width: 180px;
        }
    </style>
</head>


<body>
    <header>
        @foreach (var game in Model)
        {
            <div class="outBox">
                <div class="card col-4" style="width: 16rem;" method="post">
                    <img src="@game.GameLogoImageURL" class="card-img-top">
                    <div class="card-body">
                        <a class="btn btn-outline-info" asp-area="" asp-controller="Game" asp-action="" asp-route-id="@game.GameName">@game.GameName Page</a>
                        @if (game.IsGameHasView == true)
                        {
                            <a class="btn  btn-success" asp-area="" asp-controller="" asp-action="" asp-route-id="">Game View Is Created</a>
                        }
                        else
                        {
                            <a class="btn  btn-outline-success" asp-area="" asp-controller="" asp-action="" asp-route-id="">Create Game View</a>
                        }
                    </div>
                </div>
            </div>

        } 
        

    </header>  

</body>
</html>
