@model IEnumerable<GameViewModel>

@{
    ViewBag.Title = "Games";
}


<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/Img/Background/BG18.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>


<body>
    <header>
        @foreach (var game in Model)
        {
            <div class="card" style="width: 18rem;">
                <img src="@game.GameLogoImageURL" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">@game.GameName</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        } 
        

    </header>  

</body>
</html>
