@{
    ViewBag.Title = "Get Avatar";

}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/Img/Background/pxfuel.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }


        input {
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <header>
    </header>
    <form>
        <input type="image" height="120" width=" 120" src="/img/avatarpix/1.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="1.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/2.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="2.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/3.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="3.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/4.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="4.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/5.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="5.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/6.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="6.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/7.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="7.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/8.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="8.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/21.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="21.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/22.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="22.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/23.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="23.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/24.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="24.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/25.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="25.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/26.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="26.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/27.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="27.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/28.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="28.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/29.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="29.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/30.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="30.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/41.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="41.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/42.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="42.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/43.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="43.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/44.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="44.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/45.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="45.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/46.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="46.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/47.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="47.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/48.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="48.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/49.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="49.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/50.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="50.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/51.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="51.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/52.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="52.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/53.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="53.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/54.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="54.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/55.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="55.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/56.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="56.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/57.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="57.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/58.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="58.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/59.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="59.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/71.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="71.jpg">v
        <input type="image" height="120" width=" 120" src="/img/avatarpix/72.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="72.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/73.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="73.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/74.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="74.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/75.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="75.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/76.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="76.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/77.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="77.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/78.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="78.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/79.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="79.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/80.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="80.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/81.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="81.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/82.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="82.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/83.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="83.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/84.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="84.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/85.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="85.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/86.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="86.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/87.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="87.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/88.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="88.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/89.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="89.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/90.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="90.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/91.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="81.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/92.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="92.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/93.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="93.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/94.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="94.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/95.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="95.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/96.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="96.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/97.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="97.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/98.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="98.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/99.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="99.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/100.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="100.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/101.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="101.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/102.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="102.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/103.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="103.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/104.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="104.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/105.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="105.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/106.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="106.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/107.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="107.jpg">v
        <input type="image" height="120" width=" 120" src="/img/avatarpix/108.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="108.jpg">v
        <input type="image" height="120" width=" 120" src="/img/avatarpix/109.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="109.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/110.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="110.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/111.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="111.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/112.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="112.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/113.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="113.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/114.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="114.jpg">     
    </form>
       
   




</body>
</html>
