@{
    ViewBag.Title = "Get Avatar";

}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/Img/Background/pxfuel.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }


        input {
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <header>
    </header>
    <form>
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661606.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661606.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661604.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661604.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661599.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661599.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661598.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661598.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661595.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661595.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661583.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661583.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661589.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661589.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661577.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661577.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661580.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661580.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661581.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661581.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661572.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661572.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661571.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661571.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661569.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661569.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661563.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661563.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661561.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661561.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661549.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661549.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661542.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661542.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661541.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661541.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661540.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661540.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661538.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661538.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661537.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661537.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661512.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661512.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661506.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661506.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661505.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661505.jpg">
        <input type="image" height="120" width=" 120" src="/img/avatarpix/661495.jpg" asp-controller="GuildUser" asp-action="SelectAvatar" asp-route-id="661495.jpg">
    </form>




</body>
</html>
