@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/Img/Background/BG17.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

    </style>
</head>


<body>
    <header>
    </header>
    <div class="position-relative">
        <div class="position-absolute top-0 start-0">
            <h1 class="text-warning">@ViewData["Title"]</h1>
        </div>
        <div class="position-absolute top-500 start-50 translate-middle-x">
            <h1 class="text text-md-center" style="color:aquamarine">Email Us Yours Questions Or Recommendations At The Mail Below</h1>
            <hr/>
            <hr />
            <hr />
            <hr />
            <hr />
            <h1 class="text text-md-center" style="color:aquamarine">GameGuildRecruit@gmail.com</h1>
        </div>
    </div>
   
    @*<h1 class="text-warning">@ViewData["Title"]</h1>*@
</body>
</html>
