@using Microsoft.AspNetCore.Identity


@{
    ViewBag.Title = "Set Avatar Error";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/Img/SC/SC1.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        .box {
            width: 210px;
            height: 90px;
            overflow: scroll;
        }
    </style>
</head>

<body>
    <header>
    </header>
    <h2 class="text-center" style="color:yellow">@ViewBag.Title</h2>
    <hr />
    <div class="text-center row">
        <h1 style="color:yellow">Some Error Occurred While Seting The Avatar Pix</h1>
    </div>

</body>
</html>


