@{
    ViewBag.Title = "Admin";
}


<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/Img/Background/BG22.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>


<body>
    <header>
    </header>
    



    
</body>
</html>